@model ProductViewModel

<h3>Remover Produto</h3>
<h4>Tem certeza em remover este produto?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="DeleteProduct">
        <input type="hidden" asp-for="Id" />
        <div class="form-group" style="padding-top: 10px">
            <input type="submit" value="Remover" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-info">Voltar</a>
        </div>
    </form>
</div>